.jumbotron {
  padding: 100px;
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/book-quotes-1531945007.jpg?crop=1.00xw:0.753xh;0,0.247xh&resize=980:*);
  background-size: cover;
  background-position: center;
  color: rgb(58, 58, 65);
  font-family: 'Stylish', sans-serif;
}